/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	body {
		font-size: 15px;
	}
	.menu {
		margin: 0 15px;
	}
	.menu a {
		margin: 0 15px;
	}
	.line-about {
		font-size: 16px;
	}
	.footer {
		font-size: 13px;
	}
	.footer__title {
		font-size: 17px;
	}
	.title-block {
		font-size: 25px;
		line-height: 29px;
	}
	.item-team__image {
		height: 370px;
	}
	.article-main {
		padding: 43px 30px;
	}
	.sidebar-article {
		margin-left: 60px;
		width: 320px; 
	}
	.item-step {
		padding-left: 40px;
	}
	.comparison-item__image img {
		max-width: 360px;
	}
	.comparison-item {
		padding-right: 30px;
	}
	.comparison-item:nth-child(2) {
		padding-right: 0;
	}
	.sidebar-article__wrap {
		padding-left: 20px;
	}
	.table-rating td:nth-child(2), .table-rating td:nth-child(3), .table-rating td:nth-child(4) {
		width: 245px;
	}
	.table-rating td:nth-child(5) {
		width: 165px;
	}
	.best-diets__item {
		padding: 75px 40px;
		padding-bottom: 65px;
	}
	.main-card {
		padding: 45px;
		max-width: 400px;
	}
	.row_diets-advantages {
		padding: 0 30px;
	}
	.video-block__image {
		height: 415px;
	}
	.comments-main {
		padding: 70px 50px;
	}
	.comment-form .rating_estimate .rating__item {
		font-size: 43px;
	}
	.item-quality {
		padding: 55px 47px;
	}
	.special-info {
		font-size: 15px;
	}
	.item-nutritionist__content,
	.text-big,
	.diet-page {
		font-size: 16px;
		line-height: 26px;
	}
	.preparation-block {
		padding: 80px 70px;
		background-position: right -82px top;
	}
	.item-schedule {
		padding: 16px;
		font-size: 13px;
		margin: 0 7px;
	}
	.content-result {
		margin-left: 0;
	}
	.tab-container-results {
		padding: 50px 35px;
	}
	.item-recipe__image {
		width: 330px;
	}
	.card-block {
		padding: 60px 40px;
	}
	.card-block__content {
		margin-left: -20px;
	}
	.item-program p {
		font-size: 16px;
		line-height: 26px;
	}
	.products-img {
		height: 344px;
	}
	.products-block {
		font-size: 14px;
	}
	.row_product-rating {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row_product-rating > div {
		padding: 0 5px;
	}
	.products-block__descr {
		margin-right: 4px;
	}
	.products-block {
		padding-left: 20px;
		padding-right: 20px;
	}
	.rating-numbers {
		font-size: 13px;
	}
	.slider-for__img {
		height: 320px;
	}
	.testers-block,
	.test-block {
		padding: 40px 30px;
	}
	.test-item:not(:last-child) {
		margin-bottom: 17px;
	}
	.sidebar {
		padding: 30px 25px;
	}
}
@media only screen and (max-width : 1400px) {
	body {
		font-size: 13px;
	}
	.menu a {
		margin: 0 10px;
	}
	.header__wrap .btn-main {
		width: 20px;
		height: 20px;
		font-size: 0;
		border-radius: 3px;
		margin-right: -25px;
		padding: 0;
		padding: 1px;
	}
	.header__wrap .social-list a {
		margin-top: 2px;
		vertical-align: top;
	}
	.header__wrap .btn-main img {
		margin: 0;
		max-width: 100%;
		max-height: 100%;
	}
	.line-about {
		font-size: 14px;
	}
	.line-about__item {
		margin-left: 13px;
	}
	.article-min {
		padding: 8px 9px;
		padding-right: 6px;
		font-size: 12px;
		line-height: 16px;
	}
	.sidebar-articles__list {
		max-height: 375px;
	}
	.billbord-main__image {
		height: 455px;
	}
	.sidebar-articles {
		padding: 17px 13px;
	}
	.big-article__image img {
		max-width: 650px;
	}
	.big-article {
		padding-left: 40px;
	}
	.item-article__image {
		width: 228px;
		height: 305px;
	}
	.title-block {
		font-size: 22px;
		line-height: 29px;
	}
	.item-article__content {
		padding: 0 20px;
	}
	.item-article_big .item-article__content {
		margin-left: 40px;
	}
	.item-team__content {
		padding: 22px 10px;
	}
	.item-team__feautere img {
		margin-right: 5px;
	}
	.footer__left {
		max-width: 332px;
	}
	.form-simple input {
		width: 190px;
	}
	.footer__title {
		font-size: 15px;
	}
	.footer {
		font-size: 12px;
	}
	.sidebar-article {
		margin-left: 50px;
		width: 273px;
	}
	.title-big {
		font-size: 45px;
	}
	.title-min {
		font-size: 16px;
	}
	.date-simple,
	.expert-min {
		font-size: 13px;
	}
	.title-small {
		font-size: 19px;
		line-height: 26px;
	}
	.item-step {
		padding-top: 50px;
		padding-left: 25px;
		padding-right: 20px;
	}
	.title-middle {
		font-size: 24px;
		line-height: 27px;
	}
	.tg-block {
		padding: 25px 20px;
	}
	.block-form {
		padding: 25px 15px;
		padding-bottom: 35px;
	}
	.sidebar-expert blockquote {
		font-size: 13px;
		line-height: 22px;
	}
	.sidebar-expert {
		margin-left: -15px;
	}
	.select-sorting .jqselect {
		width: 370px;
	}
	.title-th {
		font-size: 16px;
	}
	.table-rating td:nth-child(2), .table-rating td:nth-child(3), .table-rating td:nth-child(4) {
		width: 200px;
	}
	.main-card {
		top: -40px;
	}
	.video-block__image {
		height: 350px;
	}
	.video-block__content {
		padding: 20px 15px;
	}
	.comment-form {
		padding: 40px 30px;
	}
	.comment-form .rating_estimate .rating__item {
		font-size: 35px;
	}
	.nav-page__list {
		font-size: 14px;
		line-height: 21px;
	}
	.advatage-block {
		padding: 41px 0;
		padding-right: 45px;
	}
	.item-quality {
		padding: 35px 26px;
	}
	.preparation-block__content {
		max-width: 688px;
	}
	.info-apart {
		padding: 45px 50px;
	}
	.item-nutritionist__content, .text-big, .diet-page {
		font-size: 14px;
		line-height: 23px;
	}
	.item-recipe__image {
		width: 250px;
		height: 360px;
	}
	.item-recipe__content {
		padding: 15px;
	}
	.card-block .item-team__image {
		height: 515px;
	}
	.card-block__content {
		margin-left: -5px;
	}
	.card-block__features .item-team__feautere {
		font-size: 14px;
		margin-right: 15px;
	}
	.card-block__features .item-team__features {
		margin-left: 15px;
		padding-left: 15px;
	}
	.item-program {
		padding: 25px 15px;
	}
	.item-program p {
		font-size: 14px;
		line-height: 24px;
	}
	.row_products {
		margin: 0 -7px;
	}
	.row_products > div {
		padding: 0 7px;
	}
	.products-block__item {
		flex-wrap: wrap;
	}
	.products-block__links a {
		padding: 10px 7px;
		font-size: 12px;
	}
	.products-block__item:not(:last-child) {
		margin-bottom: 10px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__wrap .link-icon,
	.header__wrap .social-list,
	.header__wrap .btn-main,
	.header__wrap .menu {
		display: none;
	}

	.title-big {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 30px;
		text-transform: none;
	}
	.billbord {
		padding-top: 30px;
	}
	.line-about {
		display: block;
	}
	.line-about__item {
		margin: 0;
		margin-top: 10px;
		display: flex;
	}
	.col_sidebar {
		padding-bottom: 50px;
		order: -1;
	}
	.sidebar-articles__list {
		max-height: initial;
		display: flex;
	}
	.article-min {
		font-size: 14px;
		line-height: 20px;
		padding: 15px;
		width: 100%;
		flex: none;
	}
	.sidebar-articles__list::-webkit-scrollbar:vertical {
		width: 10px;
	}
	.sidebar-articles__list::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	.sidebar-articles__list::-webkit-scrollbar-track {
		background-color: #EFEFF7;
	}
	.sidebar-articles .title-small {
		padding-bottom: 0;
	}
	.title-section {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 20px;
		text-align: center;
	}
	.billbord-main {
		background-color: #75D45F;
		border-radius: 20px;
	}
	.billbord-main__image {
		height: initial;
	}
	.billbord-main__image img {
		object-fit: initial;
	}
	.billbord-main__content {
		padding: 0 17px;
		padding-bottom: 20px;
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
	}
	.head-section .link-page {
		display: none;
	}
	.head-section {
		margin-top: 50px;
	}
	.big-article .col-xl-8 {
		order: -2;
	}
	.big-article__image img {
		max-width: 100%;
	}
	.big-article {
		padding-top: 20px;
		border-radius: 20px;
		padding-left: 0;
	}
	.big-article__image {
		top: 0;
	}
	.big-article__content {
		padding: 0 17px;
		padding-bottom: 20px;
	}
	.button-mobile {
		padding-top: 20px;
		display: flex;
		justify-content: center;
	}
	.item-article {
		border-radius: 20px;
		flex-direction: column;
	}
	.item-article__image {
		width: 100%;
		height: 240px;
		border-radius:  20px 20px 0 0;
	}
	.item-article__image img {
		border-radius:  20px 20px 0 0;	
	}
	.item-article_big .item-article__content,
	.item-article__content {
		padding: 20px 17px;
	}
	.item-article_big .item-article__content {
		margin-left: 0;
	}
	.title-block {
		line-height: 30px;
		font-weight: 700;
	}
	.item-article__bigimage {
		padding: 15px 0;
		display: block;
	}
	.team {
		padding-bottom: 70px;
	}
	.form-simple input {
		width: 100%;
		height: 60px;
		border-color: #fff;
	}
	.form-simple  {
		position: relative;
	}
	.form-simple .btn-main {
		width: 50px;
		height: 50px;
		justify-content: center;
		padding: 0;
		font-size: 0;
		right: 5px;
		top: 5px;
		position: absolute;
	}
	.form-simple .btn-main img {
		margin-right: 0;
	}
	*::-webkit-input-placeholder {
		color: #fff;
		opacity: 1;
	}
	*:-moz-placeholder {
		color: #fff;
		opacity: 1;
	}
	*::-moz-placeholder {
		color: #fff;
		opacity: 1;
	}
	*:-ms-input-placeholder {
		color: #fff;
		opacity: 1;
	}
	.footer__title {
		font-size: 18px;
	}
	.footer .logo {
		width: 178px;
		margin: 0 auto;
		margin-bottom: 30px;
		display: block;
	}
	.footer {
		padding-top: 40px;
		font-size: 14px;
	}
	.footer__center, .footer__right {
		margin-left: 0;
	}
	.footer__center .footer__subtitle {
		display: none;
	}
	.footer__center .btn-main {
		display: none;
	}
	.footer__center {
		margin-left: -20px;
	}
	.btn_nav {
		display: inline-block;
	}
	.header {
		padding: 8px 0;
	}
	.header .logo img {
		max-width: 110px;
	}
	.footer__left {
		margin-bottom: 20px;
		max-width: 100%;
	}
	.wrapper {
		padding-top: 70px;
	}
	.menu-mobile {
		padding: 0 20px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #6E569C;
		display: none;
		overflow: auto;
		height: 100vh;
		padding-bottom: 140px;
	}
	.menu {
		display: block;
		margin: 0;
	}
	.menu-mobile .link-icon,
	.menu a {
		margin: 0;
		margin-bottom: 10px;
		height: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #fff;
		display: flex;
	}
	.menu-mobile > .btn-main {
		height: 50px;
		width: 100%;
		margin-top: 10px;
	}
	.menu-mobile .social-list {
		margin-top: 20px;
		justify-content: center;
	}
	.mob-user {
		display: inline-block;
	}
	.sidebar-article {
		position: relative;
		left: 0;
		margin: 0;
		width: 100%;
		margin-bottom: 30px;
		top: 0;
	}
	.article-main {
		padding: 0;
		background-color: transparent;
		display: flex;
		flex-direction: column;
	}
	.article-main .title-big {
		order: -1;
	}
	.hidden-mob {
		display: none;
	}
	.date-simple, .expert-min {
		font-size: 14px;
	}
	.expert-min {
		display: flex;
	}
	.expert-min {
		margin-bottom: 10px;
		padding-right: 5px;
	}
	.article-main__image {
		margin-bottom: 30px;
	}
	.head-block {
		margin-top: 40px;
	}
	.article-main {
		font-size: 16px;
		line-height: 24px;
	}
	.expert-min {
		padding: 14px;
		padding-right: 6px;
	}
	.title-min {
		font-size: 18px;
	}
	.expert-min_page .expert-min__image {
		width: 76px;
		height: 76px;
	}
	.article-main  .title-block {
		padding-bottom: 20px;
		text-align: center;
	}
	.title-small {
		font-size: 22px;
		line-height: 30px;
	}
	.item-step {
		padding: 70px 49px;
		padding-right: 28px;
		padding-bottom: 40px;
	}
	.row_steps {
		flex-wrap: nowrap;
		padding-top: 55px;
		overflow: auto;
		margin: 0;
		margin-top: -55px;
		margin-right: -15px;
	}
	.item-step__number {
		top: 36px; 
	}
	.item-step:hover .item-step__number {
		font-size: 265px;
	}
	.row_steps > div {
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 30px;
		width: 360px;
		flex: none;
	}
	.row_qualities::-webkit-scrollbar,
	.row_steps::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.row_qualities::-webkit-scrollbar:vertical,
	.row_steps::-webkit-scrollbar:vertical {
		width: 10px;
	}
	.row_qualities::-webkit-scrollbar:horizontal,
	.row_steps::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	.row_qualities::-webkit-scrollbar-thumb,
	.row_steps::-webkit-scrollbar-thumb {
		background-color: #C5A9FB;
		border-radius: 50px;
	}
	.row_qualities::-webkit-scrollbar-track,
	.row_steps::-webkit-scrollbar-track {
		border-radius: 50px;
		background-color: #fff;
	}
	.comparison-item__image img {
		max-width: 144px;
		max-height: 120px;
	}
	.comparison-item {
		height: 208px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.comparison-item:nth-child(2) {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.comparison-item__title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 8px;
	}
	.comparison-block__vs {
		width: 51px;
		height: 98px;
	}
	.btn-comparison span {
		display: none;
	}
	.btn-comparison {
		min-width: 150px;
	}
	.comparison-item {
		padding-right: 10px;
	}
	.comparison .title-section {
		margin-bottom: 0;
	}
	.sidebar-article_hidden {
		display: none;
	}
	.table-wrap table td {
		background-color: #fff;
	}
	.rate-block {
		margin-top: 20px;
		padding-top: 20px;
	}
	.rate-ratings {
		display: block;
	}
	.rate-ratings .rating-wrap {
		margin-bottom: 10px;
	}
	.rate-buttons {
		margin-top: 0px;
		flex-direction: column;
	}
	.rate-buttons .btn-rate {
		margin-top: 20px;
	}
	.tg-block {
		padding-top: 20px;
		min-height: 220px;
		max-width: 330px;
		margin: 0 auto;
		background-image: url(../img/tg_bg2.jpg);
	}
	.title-middle {
		font-size: 22px;
		line-height: 30px;
	}
	.rate-block + .head-block {
		margin-top: 20px;
	}
	.wrap-sidebar-article_comments {
		margin-top: 40px;
		order: 2;
	}
	.head-block_comments .title-section {
		font-size: 36px;
		line-height: 40px;
		text-align: left;
	}
	.item-comment {
		display: block;
	}
	.item-comment__content {
		margin-top: -50px;
	}
	.item-comment__content .item-comment__date,
	.item-comment__content .title-min {
		padding-left: 65px;
	}
	.item-comment .btn-page {
		padding: 0;
	}
	.item-comment {
		margin-bottom: 30px;
	}
	.item-comment_inner {
		padding-left: 0;
	}
	.block-form {
		padding: 40px 28px;
		padding-bottom: 52px;
	}
	.block-form .title-middle {
		font-size: 28px;
		line-height: 32px;
	}
	.wrap-sidebar-article_comments .sidebar-article {
		margin-bottom: 0;
	}
	.article {
		padding-bottom: 50px;
	}
	.nav-page_article {
		display: block;
	}
	.nav-page {
		margin-bottom: 30px;
		background: #FFFFFF;
		border: 1px solid #EFEFF7;
		border-radius: 10px;
		box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	}
	.nav-page__title {
		margin: 0;
		padding: 13px 10px;
		padding-right: 30px;
		font-size: 14px;
		line-height: 20px;
		position: relative;
	}
	.sidebar .title-small::after,
	.nav-page__title::after {
		position: absolute;
		display: block;
		content: " ";
		width: 24px;
		height: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		background-image: url(../img/chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		transition: all 0.3s;
	}
	.sidebar .title-small.active::after,
	.nav-page__title.active::after {
		transform: rotate(180deg);
	}
	.nav-page__list a {
		background-color: transparent;
		display: block;
		padding: 10px;
		margin: 0;
		height: initial;
	}
	.nav-page__list {
		display: block;
		display: none;
	}
	.sidebar-expert {
		margin-left: 0;
	}
	.select-sorting,
	.sortings-wrap {
		display: block;
	}
	.select-sorting .jqselect {
		width: 100%;
	}
	.select-sorting .title-min {
		margin: 0;
		margin-bottom: 10px;
	}
	.select-sorting {
		margin: 15px 0;
	}
	.title-th {
		font-size: 14px;
	}
	.best-info {
		padding-top: 50px;
	}
	.best-info .title-section {
		text-align: left;
	}
	.best-info .title-middle {
		font-weight: 700;
	}
	.main-card {
		max-width: 100%;
		margin-bottom: 20px;
		border-radius: 10px;
		position: relative;
		top: 0;
		padding: 0;
	}
	.best-diets__item .title-section,
	.best-diets__content {
		padding-right: 0;
		min-height: initial;
	}
	.best-diets__item {
		margin: 0 -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.best-diets__block {
		padding-top: 100px;
		margin-bottom: 50px;
		background-size: 100% auto;
	}
	.man_card__content {
		padding: 0 15px;
		padding-bottom: 20px;
		display: none;
	}
	.best-diets__wrap {
		padding: 0 15px;
		display: none;
	}
	.best-diets__item {
		padding: 0;
		background-image: url(../img/bg-diets_mob.png);
		backdrop-filter: none;
		background-size: initial;
	}
	.best-diets__item .title-section {
		height: 150px;
		margin-bottom: 0;
		padding: 0 15px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main-card .title-min {
		padding: 11px 10px;
		position: relative;
		margin: 0;
	}
	.main-card .title-min::after {
		position: absolute;
		display: block;
		content: " ";
		width: 24px;
		height: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		background-image: url(../img/chevron-down2.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		transition: all 0.3s;
	}
	.main-card .title-min.active::after {
		transform: rotate(180deg);
	}
	.row_diets-info {
		margin-top: 0;
	}
	.row_diets-info > div {
		margin-bottom: 20px;
	}
	.row_diets-advantages .title-min img {
		position: static;
		margin: 0;
		margin-bottom: 10px;
	}
	.row_diets-advantages {
		background-color: #fff;
		padding-bottom: 15px;
	}
	.row_diets-advantages > div {
		margin-bottom: 20px;
	}
	.row_diets-advantages > div:nth-child(2)::before {
		display: none;
	}
	.best-info_bottom {
		padding-top: 0;
	}
	.title-section_left {
		text-align: left;
	}
	.col-lg-3 .video-block {
		display: none;
	}
	.video-block__image {
		height: 390px;
	}
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.video-block__content {
		display: block;
	}
	.video-block .time-min {
		margin: 0;
		margin-top: 10px;
	}
	.comments-main {
		margin-top: 40px;
		padding: 0;
		background-color: transparent;
	}
	.comments-main .title-section {
		margin-bottom: 35px;
		text-align: left;
	}
	.comment-form .title-middle {
		font-size: 28px;
		line-height: 32px;
	}
	.comment-form .rating_estimate {
		max-width: 100%;
	}
	.comment-form .rating_estimate .rating__item {
		font-size: 40px;
	}
	.comment-form .item-form {
		margin-bottom: 20px;
	}
	.comment-form__bottom {
		display: block;
	}
	.comment-form__bottom .checkbox {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.comment-form .btn-main {
		width: 100%;
	}
	.comment-form {
		padding: 35px 22px;
	}
	.item-form input {
		height: 44px;
	}
	.tabs-simple + .title-min {
		margin-top: 0px;
	}
	.tabs-simple {
		background: #FFFFFF;
		margin-bottom: 30px;
		border: 1px solid #EFEFF7;
		border-radius: 10px;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
	}
	.btn-tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 2;
	}
	.tabs-wrap {
		position: relative;
	}
	.btn-tab::after {
		position: absolute;
		display: block;
		content: " ";
		width: 24px;
		height: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		background-image: url(../img/chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		transition: all 0.3s;
	}
	.btn-tab.active::after {
		transform: rotate(180deg);
	}
	.tabs-simple .active a {
		font-weight: 700;
	}
	.tabs-simple .active {
		order: -1;
	}
	.tabs-simple .active a, .tabs-simple a:hover {
		background-color: #fff;
		color: #373742;
	}
	.tabs-simple li {
		width: 100%;
	}
	.tabs-simple:not(.active) li:not(.active) {
		display: none;
	}
	.tabs-simple a {
		padding: 15px 10px;
		padding-right: 40px;
		width: 100%;
		margin: 0;
	}
	.title-big_desktop {
		display: none;
	}
	.title-big_mobile {
		display: block;
	}
	.team-page .col_sidebar {
		padding-bottom: 30px;
	}
	.team-page .head-block {
		margin-top: 0;
	}
	.row_team > div {
		margin-bottom: 20px;
	}
	.row_team > div:nth-child(n+5) {
		display: none;
	}
	.pager-nav {
		justify-content: center;
	}
	.pager-btn {
		width: 50px;
		height: 50px;
		margin: 0 10px;
	}
	.card-block .item-team__image {
		height: 418px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.card-block .item-team {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.card-block {
		border-radius: 0;
		box-shadow: none;
		padding: 25px 20px;
		margin: 0 -15px;
	}
	.card-block .title-section {
		margin-top: 30px;
		text-align: left;
	}
	.card-block__features {
		display: block;
		max-width: 250px;
	}
	.card-block__features .item-team__features {
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
		border: none;
	}
	.card-block__features .item-team__feautere {
		margin-top: 10px;
		font-size: 16px;
		margin-right: 20px;
	}
	.card-block__features {
		margin-bottom: 20px;
	}
	.item-sertificat {
		width: 153px;
		height: 116px;
		margin-right: 10px;
	}
	.card-block ul {
		columns: 1;
	}
	.sertificats-wrap {
		margin-bottom: 20px;
	}
	.card-block .btn-main {
		margin-top: 20px;
	}
	.program-features {
		padding: 0 40px;
		padding-top: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	.feature-program {
		font-size: 16px;
		margin-right: 20px;
		margin-top: 10px;
	}
	.row_programs > div {
		margin-bottom: 30px;
	}
	.item-program .title-small {
		margin-bottom: 10px;
	}
	.row_programs > div:last-child {
		margin-bottom: 0;
	}
	.card .comment-form {
		margin: 0 -15px;
	}
	.card {
		padding-bottom: 0;
		margin-bottom: -15px;
		position: relative;
	}
	.breadcrumbs {
		padding: 25px 0;
	}
	.diet-page .title-big {
		margin-bottom: 10px;
	}
	.card-simple {
		font-size: 18px;
		line-height: 28px;
		padding: 25px 15px;
	}
	.card-simple__icon {
		margin-bottom: 10px;
	}
	.card-simple .title-small {
		margin-bottom: 10px;
	}
	.row_cards > div {
		margin-bottom: 10px;
	}
	.advatage-block {
		background-position: left top;
		background-size: 100% auto;
		padding: 0;
		padding-top: 118px;
		border-radius: 0;
		margin: 0 -15px;
		margin-top: 40px;
	}
	.advatage-block__content {
		padding: 50px 15px;
		background: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(30px);
	}
	.advatage-block .title-section {
		text-align: left;
	}
	.item-nutritionist__content, .text-big, .diet-page {
		font-size: 14px;
		line-height: 20px;
	}
	.advatage-block .btn-main {
		margin-top: 20px;
	}
	.col_special {
		font-size: 18px;
		line-height: 28px;
	}
	.col_special .title-section {
		font-size: 36px;
		line-height: 40px;
		text-align: left;
	}
	.row_qualities {
		padding-top: 40px;
		margin-top: -20px;
		margin-bottom: 50px;
		flex-wrap: nowrap;
		overflow: auto;
	}
	.row_qualities > div {
		flex: none;
	}
	.special-info {
		font-size: 16px;
		padding: 25px 15px;
		margin-top: 25px;
	}
	.special-info .row > div {
		margin-bottom: 20px;
	}
	.special-info .row > div:last-child {
		margin-bottom: 0;
	}
	.preparation-block {
		margin: 0 -15px;
		padding: 119px 15px;
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 30px;
		margin-top: 40px;
		border-radius: 0;
		background-size: 1000px auto;
		background-position: right -150px top -20px;
	}
	.preparation-block .title-section {
		text-align: left;
		max-width: 300px;
	}
	.best-diets__block_page {
		margin: 0 -15px;
		margin-bottom: 40px;
		border-radius: 0;
	}
	.best-diets__item {
		background-image: url(../img/bg-diets_mob2.png);
		backdrop-filter: blur(3px);
	}
	.best-diets__block_page .best-diets__item {
		padding-top: 0;
		padding: 0 35px;
	}
	.info-apart {
		padding: 25px 15px;
		padding-bottom: 15px;
	}
	.row_diets-advantages {
		padding: 0;
	}
	.row_diets-advantages ol {
		padding-left: 20px;
	}
	.info-apart_alert ul li {
		padding-right: 0;
	}
	.info-apart_alert ul {
		columns: 1;
	}
	.info-apart_alert {
		padding-left: 35px;
		padding-right: 35px;
	}
	.info-apart_alert img {
		position: relative;
		right: 0;
		margin: 0;
		margin-bottom: 20px;
	}
	.text-big {
		font-size: 18px;
		line-height: 28px;
	}
	.text-big ul,
	.text-big p {
		margin-bottom: 8px;
	}
	.step-diet {
		padding-left: 0;
		margin-top: 60px;
	}
	.best-diets__block_page .col-xl-8.text-big,
	.best-diets__block_page .col-xl-8.text-big + .col-xl-4 {
		background-color: #fff;
	}
	.col_steps {
		margin-top: -40px;
		z-index: -1;
	}
	.text-big_last {
		padding-bottom: 30px;
	}
	.text-section_mobhidden {
		display: none;
	}
	.schedule {
		padding: 25px 15px;
		margin: 0 -15px;
		border-radius: 20px;
	}
	.schedule .title-section {
		text-align: left;
	}
	.tabs-schedule {
		display: block;
	}
	.tabs-schedule a {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.schedules-wrap {
		padding: 0 15px;
		padding-bottom: 10px;
		display: block;
		margin: 0;
		display: none;
	}
	.unit-schedule {
		background: #FFFFFF;
		border: 1px solid #EFEFF7;
		border-radius: 10px;
		padding: 0;
		margin-top: 10px;
	}
	.unit-schedule > .title-min {
		padding: 15px 10px;
		margin: 0;
		font-size: 14px;
		color: #373742;
		position: relative;
	}
	.item-schedule {
		margin: 0;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.unit-schedule > .title-min::after {
		position: absolute;
		display: block;
		content: " ";
		width: 24px;
		height: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		background-image: url(../img/chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		transition: all 0.3s;
	}
	.unit-schedule > .title-min.active::after {
		transform: rotate(180deg);
	}
	.tabs-results li {
		margin-right: 15px;
		width: 50%;
		flex: none;
	}
	.tabs-results {
		margin-right: -15px;
		padding-right: 15px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.tab-container-results {
		padding: 20px 15px;
	}
	.tab-container-results .title-middle {
		text-align: center;
	}
	.wrap-result-estimate {
		display: block;
	}
	.main-estimate {
		width: 85px;
		height: 85px;
		margin: 0 auto;
		font-size: 32px;
		line-height: 58px;
		margin-bottom: 30px;
	}
	.btn-wrap-mobile {
		text-align: center;
	}
	.item-nutritionist {
		padding: 25px 15px;
		flex-wrap: wrap;
	}
	.item-nutritionist__content {
		width: 100%;
		padding-top: 20px;
		flex: none;
	}
	.item-nutritionist__image {
		width: 76px;
		height: 76px;
	}
	.item-nutritionist__info {
		padding-top: 0;
		flex: 1;
		margin-right: 0;
		max-width: 100%;
	}
	.item-nutritionist__info .title-min {
		margin-bottom: 0;
	}
	.item-nutritionist__descr {
		margin-bottom: 0;
	}
	.item-nutritionist__content .icon-approval {
		margin-bottom: 10px;
	}
	.line-date {
		margin-bottom: 20px;
	}
	.item-recipe {
		display: block;
		border-radius: 0;
		position: relative;
		min-height: initial;
		margin-bottom: 127px;
	}
	.item-recipe__image img,
	.item-recipe__image {
		border-radius: 0;
	}
	.item-recipe__image {
		height: 505px;
		margin: 0 -15px;
		width: initial;
	}
	.item-recipe__content {
		bottom: -85px;
		left: 0px;
		padding: 25px 25px;
		right: 0px;
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(30px);
		border-radius: 20px;
		text-align: center;
		position: absolute;
		display: block;
	}
	.item-recipe__content .title-min {
		text-align: left;
	}
	.line-composition {
		color: #373742;
		text-align: left;
	}
	.tags-recipes {
		width: 100%;
		justify-content: center;
	}
	.row_recipe + .head-block {
		margin-top: 0;
	}
	.button-more {
		margin-top: -30px;
		text-align: center;
	}
	.button-more .btn-main {
		padding-left: 12px;
		margin-top: 20px;
		height: 44px;
	}
	.col_sidebar-main {
		display: none;
	}
	.products-card .title-small {
		text-align: center;
	}
	.row_products > div {
		margin-top: 20px;
	}
	.products-img {
		height: 400px;
	}
	.slider-nav {
		display: none !important;
	}
	.products-block {
		box-shadow: none;
	}
	.slider-for__img {
		height: 360px;
	}
	.slider-for {
		padding-bottom: 70px;
	}
	.products-slider-mobile > .slick-arrow,
	.slider-for .slick-arrow {
		bottom: 0;
		top: auto;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: none;
	}
	.products-slider-mobile .slick-prev,
	.slider-for .slick-prev {
		left: -70px;
	}
	.products-slider-mobile > .slick-next,
	.slider-for .slick-next {
		right: -70px;
	}
	.products-slider-mobile > .slick-arrow {
		top: 0;
		bottom: auto;
	}
	.products-slider-mobile {
		padding-top: 70px;
	}
	.products-block__top {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.btn-comparsion {
		margin-bottom: 20px;
	}
	.products-block .rating-stars {
		margin-bottom: 18px;
	}
	.products-block__descr {
		margin-right: 20px;
	}
	.products-block__item:not(:last-child),
	.products-block__item {
		margin-bottom: 20px;
	}
	.products-block__right {
		border: none;
	}
	.products-block {
		padding: 20px 15px;
	}
	.test-block {
		padding: 20px 15px;
		box-shadow: none;
	}
	.hint {
		margin-left: 10px;
	}
	.test-progress__wrap {
		display: block;
	}
	.test-progress__wrap .title-middle {
		margin-top: 15px;
	}
	.test-progress__wrap {
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.test-item {
		margin-bottom: 20px;
	}
		.test-item:not(:last-child) {
		margin-bottom: 10px;
	}
	.testers-block {
		background-color: transparent;
		box-shadow: none;
		padding: 0;
	}
	.testers-block .title-section {
		text-align: left;
		margin-bottom: 0;
	}
	.tester-wrap {
		margin-top: 30px;
		background-color: #fff;
	}
	.choice {
		padding: 25px 15px;
		margin: 0 -15px;
		box-shadow: none;
		margin-top: 50px;
	}
	.choice .title-section {
		text-align: left;
		margin-bottom: 15px;
	}
	.choice-img .icon-play {
		width: 62px;
		height: 62px;
	}
	.choice-list ul,
	.choice-list ol {
		margin-bottom: 20px;
	}
	.choice-list ul li,
	.choice-list ol li {
		margin-bottom: 0 !important;
	}
	.choice .title-small {
		margin-bottom: 10px;
	}
	.products .comments-main {
		padding: 0;
	}
	.comments-main .item-comment .btn-page {
		font-weight: 700;
	}
	.products-block {
		margin-bottom: 0;
	}
	.products-card {
		margin-bottom: 35px;
	}
	.sidebar__content {
		padding: 0 15px;
		padding-bottom: 20px;
		display: none;
	}
	.sidebar {
		padding: 0;
		border: 1px solid #EFEFF7;
border-radius: 10px;
	}
	.sidebar .title-small {
		font-size: 14px;
		    padding: 15px 10px;
		    line-height: 20px;
    padding-right: 40px;
		position: relative;
	}
	.products .tabs-simple {
		margin-bottom: 10px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.table-wrap {
		font-size: 14px;
		line-height: 20px;
	}
	.table-rating table,
	.table-wrap table {
		width: initial;
	}
	.table-rating table td,
	.table-wrap table td {
		min-width: calc(100vw - 80px);
		position: relative;
	}
	.table-rating table td::after,
	.table-wrap table td::after {
		position: absolute;
		display: block;
		content: " ";
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		top: 0;
		right: 5px;
		bottom: 0;
		margin: auto;
	}
	.image-td {
		width: 39px;
		height: 39px;
		margin-right: 10px;
	}
	.table-rating th:first-child {
		padding-left: 10px;
	}
	.table-rating th {
		padding: 17.6px 0;
	}
	.table-rating .jspHorizontalBar .jspArrow {
		top: 0;
	}
	.table-rating td {
		padding: 10px 9px;
	}
	.title-th {
		font-size: 18px;
	}
	.table-rating .title-min {
		font-size: 16px;
		font-weight: 400;
	}
	.article-main {
		padding: 0;
		background-color: transparent;
		border-radius: 0;
	}
	.table-wrap td {
		padding: 18.7px 0;
		padding-left: 10px;
	}
	.table-wrap thead th {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		padding-left: 15px;
	}
	.jspHorizontalBar .jspArrow {
		position: absolute;
		top: 71px;
		bottom: 0;
		width: 60px;
		right: 0;
		height: initial;
		background-color:transparent;
		background-image: url(../img/arrow_right2.svg);
		background-repeat: repeat-y;
		background-size: 60px;
	}
	.jspHorizontalBar {
		top: 0;
		left: 0;
		width: 100%;
		position: static;
		background-color: transparent;
		z-index: -1;
	}
	.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
		display: none;
	}
	.table-wrap td:nth-child(2) {
		font-size: 16px;
		text-align: left;
	}
	.jspHorizontalBar {
		height: 0 !important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.arrows-right .slick-arrow {
		bottom: 0;
		top: auto;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.arrows-right {
		padding-bottom: 70px;
	}
	.arrows-right .slick-prev {
		left: -70px;
	}
	.arrows-right .slick-next {
		right: -70px;
	}
	.slick-arrow {
		width: 50px;
		height: 50px;
	}
	.slick-arrow svg {
		width: 50px;
		height: 50px;
	}
	body {
		font-size: 14px;
		line-height: 20px;
	}
	.item-team__content {
		padding: 29px 20px;
	}
	.team {
		padding-bottom: 30px;
	}
	.footer__bottom .footer__nav li {
		margin-right: 31px;
		margin-bottom: 10px;
	}
	.head-section {
		display: block;
		text-align: center;
	}

	.table-wrap table td {
		min-width: calc(100vw - 195px);
	} 	
}
@media only screen and (max-width : 600px) {
	.table-rating table td,
	.table-wrap table td {
		min-width: 100vw;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.tabs-results li {
		width: 100%;
	}
}
@media only screen and (max-width : 440px) {
	.best-diets__item .title-section {
		padding-top: 40px;
		font-size: 24px;
		line-height: 26px;
	}
	.best-diets__block {
		background-size: 480px auto;
	}
}
@media only screen and (max-width : 380px) {
	.rating-wrap .rating {
		margin-left: 15px;
	}
	.program-features {
		padding: 0;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.sidebar_mobile,
	.rate-buttons_mob,
	.button-more,
	.mobile-section,
	.team_mobile,
	.menu-mobile,
	.mob-user,
	.mob-footer,
	.button-mobile {
		display: none !important;
	}
	.comment-form .item-form textarea {
		height: 58px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1400px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1600px;
	}
}